@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    ViewData["Title"] = "Articulo";
}

<!-- Cargar un script personalizado -->
<script src="~/javascripts/Articulos/home.js"></script>

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html" style="color: #28a745;">Gestion</a></li>
    <li class="breadcrumb-item active">Articulos</li>
</ol>

<div class="card mb-4">
    <div class="card-header" style="background-color: #28a745; color: white;">
        <i class="fas fa-table me-1"></i> Listado de Articulos
    </div>
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-sm-12">
                <button class="btn" style="background-color: #20c997; border: none; color: white; padding: 10px 20px; font-size: 16px; border-radius: 5px;" type="button" onclick="abrirModal(null)">
                    <i class="fas fa-plus"></i> Crear Nuevo
                </button>


            </div>
        </div>

        <!-- Spinner de carga dentro de la tabla -->
        <div id="loading-spinner" class="d-none table-loading-spinner text-center">
            <div class="spinner-border text-success" style="width: 5rem; height: 5rem;" role="status">
                <span class="sr-only">Cargando...</span>
            </div>
            <p style="color: #28a745;">Cargando datos, por favor espera...</p>
        </div>

        <hr />

        <!-- Tabla para mostrar los tipos de usuarios -->
        <table id="tabla" class="display responsive table table-bordered" style="width:100%">
            <thead style="background-color: #28a745; color: white;">
                <tr>
                    <th>ID</th>
                    <th>Descripcion</th>
                    <th>Costo</th>
                    <th>Existencia</th>
                    <th>Imagen</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí va la data que se llena dinámicamente -->
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!-- Tamaño grande -->
        <div class="modal-content shadow-lg rounded-4 border-0">
            <!-- Sombra y bordes redondeados -->
            <div class="modal-header bg-success text-white rounded-top">
                <!-- Fondo verde y borde redondeado superior -->
                <h5 class="modal-title fw-bold" id="exampleModalLabel">Gestión de Articulo</h5> <!-- Título en negrita -->
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button> <!-- Botón de cierre -->
            </div>
            <div class="modal-body px-4 py-3">

                <!-- Espaciado interno amplio -->
                <form id="formNivel">
                    <input id="IdArticulo" name="IdArticulo" type="hidden"  />
                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <div class="form-floating">
                                <input type="text" class="form-control required rounded-3" id="txtdescripcion" name="Descripcion" autocomplete="off" placeholder="Descripción">
                                <label for="txtdescripcion" class="text-muted">Descripción</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <div class="form-floating">
                                <select id="idMarca" name="idMarca" class="form-select required rounded-3">
                                </select>
                                <label for="Marca" class="text-muted">Marca</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <div class="form-floating">
                                <input type="number" class="form-control required rounded-3" id="txtcosto" name="Costo" autocomplete="off" placeholder="Costo">
                                <label for="txtcosto" class="text-muted">Costo</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <div class="form-floating">
                                <select id="idProveedor" name="idProveedor" class="form-select required rounded-3">
                                </select>
                                <label for="Proveedores" class="text-muted">Proveedores</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <div class="form-floating">
                                <input type="number" class="form-control required rounded-3" id="txtexistencia" name="Existencia" autocomplete="off" placeholder="Existencia">
                                <label for="txtexistencia" class="text-muted">Existencia</label>
                            </div>
                        </div>
                    </div>

                    <!-- Imagen del producto -->
                    <div class="row mb-4 text-center">
                        <div class="col-sm-12">
                            <div id="imgContainer"
                                 class="border border-dark rounded-circle d-flex justify-content-center align-items-center"
                                 style="height: 200px; width: 200px; overflow: hidden; background-color: #f0f0f0; cursor: pointer;"
                                 onclick="document.getElementById('imgproducto').click();">

                                <img id="img_producto" class="img-fluid" style="display: none; max-height: 100%;" alt="Imagen de Producto" />
                                <span id="defaultText" class="text-muted">Imagen de Producto</span>
                            </div>
                        </div>

                        <div class="col-sm-12 mt-3">
                            <input class="form-control form-control-lg"
                                   type="file" id="imgproducto"
                                   accept="image/webp, image/*"
                                   onchange="readURL(this);" style="display: none;">

                            <small class="text-muted d-block mt-2">Sube la imagen del producto</small>
                            <p id="nombreArchivo" class="mt-2 text-muted">Sin archivo seleccionado</p>
                        </div>
                    </div>




                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <div class="form-floating">
                                <select id="cboEstado" class="form-select rounded-3" name="Estado">
                                    <option value="1">Activo</option>
                                    <option value="0">No Activo</option>
                                </select>
                                <label for="cboEstado" class="text-muted">Estado</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <!-- Botones separados y centrados -->
                <button type="button" class="btn btn-danger btn-lg px-4" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary btn-lg px-4" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            const file = input.files[0];

            // Validar si el archivo es una imagen
            if (!file.type.startsWith('image/')) {
                alert('Por favor, selecciona un archivo de imagen válido.');
                return;
            }

            const reader = new FileReader();
            reader.onload = function (e) {
                // Mostrar la imagen cargada
                document.getElementById('img_producto').style.display = 'block';
                document.getElementById('defaultText').style.display = 'none';
                document.getElementById('img_producto').src = e.target.result;

                // Mostrar el nombre del archivo seleccionado
                document.getElementById('nombreArchivo').textContent = file.name;
            };
            reader.readAsDataURL(file);
        }
    }
</script>
