@{
    ViewData["Title"] = "CafeXperience";
}

<!-- About-->
<section class="section novi-bg novi-bg-img section-sm bg-gray-100 pb-xl-0" id="about">
    <div class="container">
        <div class="row row-50 flex-wrap-md-reverse flex-lg-wrap align-items-lg-center">
            <div class="col-xl-6 col-lg-6">
                <div class="box-custom-2">
                    <img src="~/Design/images/Cocinero.png" alt="" width="455" height="342" />
                    <div class="box-custom-2-smal">
                        <p class="box-custom-2-name">Equipo de Cocinero</p>
                        <p class="box-custom-2-position">Comida deliciosa</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="box-custom-1">
                    <h3>Sobre nosotros</h3>
                    <h2>La comida sana <br> puede ser deliciosa</h2>
                    <p> Caf-Xperience se estableció en 2024 como un proveedor de servicios de comida confiable donde cualquiera puede pedir la comida saludable que le gusta.</p>
                    <ul class="list-marked">
                        <li>Elige comidas sin gluten de nuestro menú</li>
                        <li>Los ingredientes más frescos para cada plato.</li>
                        <li>Obtenga grandes descuentos al realizar pedidos para 2 o más personas</li>
                    </ul><a class="button button-primary" href="#">Leer Mas</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- What we Offer-->
<section class="section novi-bg novi-bg-img section-md-4 bg-primary">
    <div class="container">
        <div class="text-center">
            <h3>Lo que ofrecemos</h3>
            <h2>Paquetes de comida</h2>
        </div>
        <div class="row row-50 justify-content-center">
            <div class="col-xl-4 col-md-6">
                <!-- Product-->
                <div class="product novi-bg bg-default">
                    <h3 class="product-title">Desayuno</h3><img class="product-img" src="~/Design/images/BreakFast.png" alt="" width="176" height="88" />
                    <div class="product-price">
                        <div class="product-price-header">
                            <div class="product-price-currency">$</div>
                            <div class="product-price-value">150.000</div>
                        </div>
                        <div class="product-price-footer">Pesos</div>
                    </div>
                    <p class="product-text">La mejor opción si buscas algo sabroso y saludable para empezar el día lleno de energía podría ser un bowl de yogur griego con granola artesanal.</p><a class="button button-primary" href="#">Pidela Ahora</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <!-- Product-->
                <div class="product novi-bg bg-default">
                    <h3 class="product-title">Almuerzo</h3><img class="product-img" src="~/Design/images/Luch.png" alt="" width="176" height="88" />
                    <div class="product-price">
                        <div class="product-price-header">
                            <div class="product-price-currency">$</div>
                            <div class="product-price-value">300.00</div>
                        </div>
                        <div class="product-price-footer">Pesos.</div>
                    </div>
                    <p class="product-text">Si buscas un almuerzo sabroso y ligero que te mantenga lleno de energía, considera una ensalada de quinoa con espinacas frescas, tomates cherry, pepino, aguacate y pollo a la parrilla.</p><a class="button button-primary" href="#">Pidela Ahora</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <!-- Product-->
                <div class="product novi-bg bg-default">
                    <h3 class="product-title">Cena</h3><img class="product-img" src="~/Design/images/product-03-176x176.png" alt="" width="176" height="88" />
                    <div class="product-price">
                        <div class="product-price-header">
                            <div class="product-price-currency">$</div>
                            <div class="product-price-value">200.00</div>
                        </div>
                        <div class="product-price-footer">Pesos</div>
                    </div>
                    <p class="product-text"> Esta cena es ligera y equilibrada, rica en proteínas magras, fibra y antioxidantes, ideal para una digestión fácil antes de dormir.</p><a class="button button-primary" href="#">Pidela Ahora</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- How it Works-->
<section class="section novi-bg novi-bg-img section-md-2 bg-default">
    <div class="container">
        <div class="text-center">
            <h3>how it works</h3>
            <h2>3 steps to healthy eating</h2>
        </div>
        <div class="row row-50 post-classic-counter justify-content-lg-between justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="post-classic novi-bg bg-secondary-1">
                    <h3 class="post-classic-title">choose <br> a food package</h3>
                    <p class="post-classic-text">First, select the package that you prefer the most.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="post-classic novi-bg bg-secondary-2">
                    <h3 class="post-classic-title">customize your menu</h3>
                    <p class="post-classic-text">After that, feel free to change and customize your menu.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="post-classic novi-bg bg-secondary-3">
                    <h3 class="post-classic-title">Select a delivery <br> address & time</h3>
                    <p class="post-classic-text">Finally, let us know where and when to deliver your food.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Advantages-->
<section class="section novi-bg novi-bg-img section-custom section-lg bg-primary">
    <div class="container">
        <div class="row row-fix">
            <div class="col-lg-7">
                <div class="row row-40">
                    <div class="col-md-6">
                        <div class="box-icon">
                            <div class="box-icon-header">
                                <div class="icon novi-icon icon-lg linearicons-diamond2"></div>
                                <h3 class="box-icon-title">Quality</h3>
                            </div>
                            <p class="box-icon-text">We work with the best suppliers to make sure you get the top-quality dishes, beverages, and service.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box-icon">
                            <div class="box-icon-header">
                                <div class="icon novi-icon icon-lg linearicons-leaf"></div>
                                <h3 class="box-icon-title">organic</h3>
                            </div>
                            <p class="box-icon-text">All ingredients we use are 100% organic and fresh. Such approach makes our food a lot healthier.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box-icon">
                            <div class="box-icon-header">
                                <div class="icon novi-icon icon-lg linearicons-chef"></div>
                                <h3 class="box-icon-title">tasty</h3>
                            </div>
                            <p class="box-icon-text">Great and unforgettable taste of our dishes is what attracts more and more clients to Plate.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box-icon">
                            <div class="box-icon-header">
                                <div class="icon novi-icon icon-lg linearicons-egg2"></div>
                                <h3 class="box-icon-title">Diverse</h3>
                            </div>
                            <p class="box-icon-text">Our team regularly updates the menus to provide you with better food diversity whenever you order.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-custom-3">
        <div class="box-custom-3-img-wrap">
            <img src="~/Design/images/home-01-382x375.png" alt="" width="382" height="187" />
        </div>
        <div class="box-custom-3-img-wrap">
            <img src="~/Design/images/home-02-293x293.png" alt="" width="293" height="146" />
        </div>
        <div class="box-custom-3-img-wrap">
            <img src="~/Design/images/home-03-461x407.png" alt="" width="461" height="203" />
        </div>
        <div class="box-custom-3-img-wrap">
            <img src="~/Design/images/home-04-191x191.png" alt="" width="191" height="95" />
        </div>
    </div>
</section>

<!-- Testimonials-->
<section class="section novi-bg novi-bg-img section-md-3 bg-default" id="clients">
    <div class="container">
        <div class="row row-40 align-items-center">
            <div class="col-lg-6">
                <div class="owl-pagination-custom" id="owl-pagination-custom">
                    <div class="data-dots-custom" data-owl-item="0">
                        <img src="~/Design/images/shutter-testimonials-01-179x179.png" alt="" width="179" height="89" />
                    </div>
                    <div class="data-dots-custom" data-owl-item="1">
                        <img src="~/Design/images/shutter-testimonials-02-306x306.png" alt="" width="306" height="153" />
                    </div>
                    <div class="data-dots-custom" data-owl-item="2">
                        <img src="~/Design/images/testimonials-03-179x179.png" alt="" width="179" height="89" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>what Our clients say</h3>
                <h2>testimonials</h2>
                <!-- Owl Carousel-->
                <div class="quote-classic-wrap">
                    <div class="quote-classic-img">
                        <img src="images/quote-37x29.png" alt="" width="37" height="14" />
                    </div>
                    <div class="owl-carousel owl-carousel-classic" data-items="1" data-dots="true" data-loop="false" data-autoplay="false" data-mouse-drag="false" data-dots-custom="#owl-pagination-custom">
                        <div class="quote-classic">
                            <p class="big">I have tried a lot of food delivery services but Plate is something out of this world! Their food is really healthy and it tastes great, which is why I recommend this company to all my friends!</p>
                            <h3 class="quote-classic-name">Sophie Smith</h3>
                        </div>
                        <div class="quote-classic">
                            <p class="big">Both the food and your customer service are excellent in every way, and I just wanted to express how happy I am with your company. Wishing you all the best!</p>
                            <h3 class="quote-classic-name">Ann peters</h3>
                        </div>
                        <div class="quote-classic">
                            <p class="big">Thank you so much for your Balanced menu, it has been such a big help to me and I feel the food I am eating from you has really helped boost my immune system.</p>
                            <h3 class="quote-classic-name">peter lee</h3>
                        </div>
                    </div>
                </div><a class="button button-primary button-sm" href="#">Send Your Review</a>
            </div>
        </div>
    </div>
</section>
